<section class="hero is-fullheight-with-navbar">
  <div class="hero-body is-flex-direction-column is-justify-content-center">
    <div class="is-align-self-center">
      <h1 class="title is-1 mb-0 has-text-inherit no-select">ERROR 404</h1>
      <p class="subtitle is-3 no-select">
        We can't find the page that you are looking for
      </p>
      <button
        class="button is-danger is-rounded is-large is-responsive"
        (click)="backHome()"
      >
        <span class="icon">
          <span class="mdi mdi-arrow-left-circle mdi-36px"></span>
        </span>
        <span>BACK</span>
      </button>
    </div>
    <img class="img-404" src="assets/images/404.png" alt="404 NOT FOUND" />
  </div>
</section>
