<ibm-header name="Carbon Tutorial Angular" [cdsTheme]="currentTheme">
  <cds-hamburger></cds-hamburger>

  <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
    <ibm-header-item href="/repos">Repositories</ibm-header-item>
  </ibm-header-navigation>

  <ibm-header-global>
    <ibm-header-action title="action">
      <svg ibmIcon="notification" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIcon="user--avatar" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action" (selected)="toggleTheme($event)">
      <svg *ngIf="currentTheme ==  'white'" ibmIcon="awake" size="20"></svg>
      <svg *ngIf="currentTheme ==  'g100'" ibmIcon="asleep" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIcon="help" size="20"></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>
