<ibm-header name="Carbon Angular" [cdsTheme]="currentTheme">
  <cds-hamburger></cds-hamburger>

  <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
    <ibm-header-item href="https://github.com/carbon-design-system/carbon-components-angular">Reference</ibm-header-item>

    <cds-menu-button [kind]="'ghost'" [label]="'Menu 1'">
      <!-- <cds-menu-item label="First action with a long label description"></cds-menu-item> -->
    </cds-menu-button>
    <cds-menu-button [kind]="'ghost'" [label]="'Menu 2'">
      <!-- <cds-menu-item label="First action with a long label description"></cds-menu-item> -->
    </cds-menu-button>
  </ibm-header-navigation>

  <ibm-header-global>
    <ibm-header-action title="action">
      <svg ibmIcon="notification" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIcon="user--avatar" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action" (selected)="toggleTheme($event)">
      <svg *ngIf="currentTheme ==  'white'" ibmIcon="awake" size="20"></svg>
      <svg *ngIf="currentTheme ==  'g100'" ibmIcon="asleep" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIcon="help" size="20"></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>
